@model IEnumerable<seashore_CRM.Models.Entities.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">+ New Category</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var c in Model)
    {
        <tr>
            <td>@c.CategoryName</td>
            <td>
                <a asp-action="Details" asp-route-id="@c.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@c.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@c.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
